.UpdateUserForm{

          .submitButton{
               background-color:	rgb(25, 25, 112);
                color: white;
                 width: auto;
   
}
}

input {
    color:rgb(25, 25, 112);

}

.UpdateUserForm h1 {
     color: rgb(25, 25, 112);
}