.LoginForm{
    background-color: var(--sunCore);
}

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }

  .blackBtn {
    background-color: #000000;
    color: #ffffff;
}