button{
    display: flex;
  align-items: center;
  font-size: 18px;
  padding: 10px 20px;
  line-height: 24px;
  gap: 8px;
  border-radius: 24px;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  color: black;
}

.likedbutton{
        background: #F56565;
      
}