.NavBar {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        background-color: var(--white);
        background-color: whitesmoke;
        opacity: 0.6;
        z-index: 2;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        overflow-x: auto;
  }
  
h1 {
    background-color: whitesmoke;
    opacity: 0.9;
}

.home {
    border-radius: 2vmin;
    background-color: white;
    transition: 0.8s;
}

.home:hover {
    background: rgba(0,0,0,0.7);
    border-radius: 6px;
}
    
.search {
    border-radius: 2vmin;
    background-color: white;
    transition: 0.8s;
}

.search:hover {
    background: rgba(0,0,0,0.7);
    border-radius: 6px;
}

.createpost {
    border-radius: 2vmin;
    background-color: white;
    transition: 0.8s;
}

.createpost:hover {
    background: rgba(0,0,0,0.7);
    border-radius: 6px;
}

.usershowpage {
    border-radius: 2vmin;
    background-color: white;
    transition: 0.8s;
    
}

.usershowpage:hover {
    background: rgba(0,0,0,0.7);
    border-radius: 6px;
}

.logout {
    border-radius: 2vmin;
    background-color: white;
    transition: 0.8s;
}

.logout:hover {
    background: rgba(0,0,0,0.7);
    border-radius: 6px;
}

  .NavBar div {
    margin-top: 1vmin;
    text-align: center;
    color: var(--text-light);
    cursor: pointer;
  }

  