@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    color:#ffffff;
    text-decoration: none;
}

p {
    padding-top: 25px;
    padding-bottom: 25px;
}

.landingPage:not(.companyName) {
    font-family: "Poppins", sans-serif;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-evenly;
    position: fixed;
    height: 50px; 
    width: 100%; 
    background-color: #ffffff; 
    z-index: 1;
}

.wrapper {
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.85;
    z-index: 2;
}

.showforms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 470px;
    width: 50%;
    position: absolute;
    top: 25%;
    right: 25%;
    background-color: #E8FAFA;
    opacity: 1;
}

.logoContainer {
    height: 100%; 
    display: flex; 
    align-items: center; 
}

.logo {
    height: 25px; 
    width: auto;
    margin-right: 10px; 
}

.companyName {
    font-family: "Lobster Two", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    margin-right: 10px;
}

button {
    width: 90px;
    border-radius: 16vmin;
    border: 2px solid #000000;
    margin: 5px;
    margin-right: 5px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.blackBtn {
    background-color: #000000;
    color: #ffffff;
}

.blackBtn:hover {
    background-color: #030303;
    border: 2px solid #030303;
}

.whiteBtn {
    background-color: #ffffff;
}

.restaurantBtn {
    width: 130px;
    background-color: #000000;
    color: #ffffff;
}

.restaurantBtn:hover {
    background-color: #030303;
    border: 2px solid #030303;
}

.heroContainer {
    position: relative; /* Enables absolute positioning within it */
}

.heroImg {
    width:100%;
    height: auto;
    margin-top: 0;
    object-fit: cover;
}

.heroOverlay {
    position: absolute;
    top: 50%; /* 50% from top */
    left: 50%; /* 50% from left */
    transform: translate(-50%, -50%); /* Centers horizontally and vertically */
    text-align: center; 
    color: #F9450E;
    font-size: larger;
}

.highlightsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    margin: 50px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.highlightImg {
    width: 50px;
    height: auto;
    align-items: center !important;
}

.postSampler {
    height: 100px;
    color: #F9450E;
    text-align: center;
}

.promoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-evenly;
    margin: 50px;
    padding-bottom: 150px;
}

.featureImg {
    width:50%;
    height: auto;
    object-fit: cover;
    margin-right: 50px;
    padding: 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-items: space-evenly;
    width: 100%;
    height: auto;
    background-color: #000000;
    color: #ffffff;
}

// @media .footer
// screen size smaller, change to column

.footerColumns {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 90px;
    margin-top: 25px;
    margin-bottom: 150px;
}

.footerBottom {
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
}

.badge {
    width: 90px;
    height: auto;
}