* {
  box-sizing: border-box;
  margin: 0;
}

.popupContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.popupContainer {
  width: 100px;
  height: auto;
}

.formContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 10px;
  margin: 20px;
}
  
.formContainer label {
  margin-bottom: 5px;
}
  
.formContainer input {
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.errorMessage {
  color: red;
}
  
.closePopup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
  
  