.logoContainer {
    height: 100%; 
    display: flex; 
    align-items: center; 
    margin: 10px;
}

.logo {
    height: 25px; 
    width: auto;
    margin-right: 8px; 
}

.companyName {
    font-family: "Lobster Two", sans-serif !important;
    font-weight: 400;
    font-size: larger;
    font-style: normal;
    margin-right: 10px;
}


.HomePage {
    display: flex;
    flex-direction: column;
  }